*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.video-container{
    height: 100vh;
    position: relative;
}

.video-holder{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.logo_video{
    width: 100px;
    margin-left: 10px;
}

.loader{
    width: 100%;
    background-color: red;
}

.loader.display{
    width: 100%;
    height: 100vh;
}