@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --saffron:#ff9933;
    --india-green:#138808;
}

.video-container{
    height: 100vh;
    position: relative;
}

.video-holder{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* .logo_video{
    width: 100px;
    margin-left: 10px;
} */

.loader{
   
    width: 100%;
    height: 100vh;
    display: none;
}


.bounce {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
   }

   .bounce1{
    width: 18px;
    height: 18px;
    background-color:var(--saffron) ;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
   }

   .bounce2{
    width: 18px;
    height: 18px;
    background-color: #000080;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
   }

   .bounce3{
    width: 18px;
    height: 18px;
    background-color: #138808;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
   }
   
   .bounce1 {
    animation-delay: -0.32s;
   }
   
   .bounce2 {
    animation-delay: -0.16s;
   }
    
   
   @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
     transform: scale(0);
    }
    40% {
     transform: scale(1.0);
    }
   }
 

.loader.display{
    
    display: block;
    display: flex;
    align-items: center;
 
    
}

#qoutes-holder{
  color: rgb(240, 232, 232);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-family: monospace;
  font-size: 25px;
  
}

#explore-btn{
    position: absolute;
    bottom: 170px;
    color:white;
    text-decoration: none;
    border: 2px solid #ff9933;
    padding: 4px 8px 4px 8px;
    border-radius: 25px;
   box-shadow:  7px 2px 15px -5px;
   z-index: 1;
   visibility: hidden;
  
}


#explore-btn:hover{
    background-image: linear-gradient(to right , #138808 , #fff);
}

#explore-btn.btn-visible{
    visibility: visible;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@media screen and (min-width: 768px) {
    #qoutes-holder{
        font-size: 45px;
    }
    #explore-btn{
        bottom: 100px;
        font-size: 25px;
    }
  }


  /* main page css start fro here */

  .mainPage{
    font-family: "Poppins", sans-serif;
  }

  .logo{
    font-size: 16px;
    margin: 0px;
    padding: 5px;
    background: black;
    color: white;
    border-radius: 3px;
}

.logospan1{
    color: var(--saffron) !important;
}
.logospan3{
    color: #3cd12e;
}

.nav_border{
    box-shadow: 2px 6px 6px -7px;
}

/* .banner{
   
    background-image: url('./assets/banner\ \(2\).jpg');
   background-size: cover;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
} */
  
@media screen and (min-width: 320px) and (max-width:767px){
    /* .banner{
        
        background-image: url('.assets/banner1.jpg');
        width: 100%;
        height: 160px;
        background-repeat: no-repeat;
        
    } */
}

.banner{
    display: flex;
    justify-content: center;
}


.mainPageloader{
    width: 100%;
    position: absolute;
    transform: translateY(80%);
    visibility: unset;
    
  }

  .mainPageloader.dis-image{
    visibility: hidden;
  }

  .dis_flex{
    display: flex;
    justify-content: center;
  }

  /* .mobile_responsive{
    background-size:cover;
    width: 100%;
     height: 80vh;
     background-repeat: no-repeat;
     display: inline-block;
  } */


/* 
@media screen and (min-width: 450px) and (max-width:1000px) {
    .image_holder{
     
        background-image: url('./assets/banner1.jpg');
       background-size:contain;
       width: 550px;
        height: 400px;
        background-repeat: no-repeat;
    }
    .image_holder.back{
        background-color: red;
    
    }
  } */

  
/* @media screen and (min-width: 1001px){
    .image_holder{
     
        background-image: url('./assets/banner1.jpg');
       background-size:contain;
       width: 500px;
        height: 400px;
        background-repeat: no-repeat;
    }
    .image_holder.back{
        background-color: red;
    
    }
  } */

  